*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #191919;
    color: #fff;
}
header{
    width : 100%;
    height: auto;
    /*background-image: url(imgs/background\ Image.png);*/
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;

}

.constheader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 140px;

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #00FF00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.3s ease;
}
nav ul li a:hover::after{
    width: 100%;
}

h1{
    font-size: 40px;
    margin-top: 20px;
}

header p{
    font-size: 25px;
    margin-top: 10px;
    line-height: 25px;
}

header span{
    color: #00FF00;
}

#about{
    padding: 20px 20px;
    color: #fff;
    background-color: #191919;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.header-text{
    margin-top: 100px;
}
.about-col-1{
    flex-basis: 35%;
    flex-wrap: wrap;
}

.about-col-1 img{
    width: 60%;
    border-radius: 15px;
    background-color: #191919;
    flex-wrap: wrap;
}

.subtitle{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    flex-wrap: wrap;
}
.subtitle1{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    flex-wrap: wrap;
}

#experiences{
    padding: 20px 20px;
    color: #fff;
    background-color: #191919;
}

#experiences ul {
    margin-left: 30px;
}

.padding{
    padding-top: 15px;
}

.green{
    color: #00FF00;
}
#projects{
    padding: 20px 20px;
    color: #fff;
    background-color: #191919;
}

#projects ul {
    margin-left: 30px;
}
.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    font-size: 70px;
    font-family: OCR-A-Std Medium;
    font-family: OCR-A-Std Medium;
    color: green;
    transition: all 0.3s ease;
}
#contact{
    padding: 20px 20px;
    color: #fff;
    background-color: #191919;
}
.contact-left{
    flex-basis: 35%;
    flex-wrap: wrap;
}

.contact-right{
    flex-basis: 60%;
    flex-wrap: wrap;
}

.contact-left h3{
    font-size: 30px;
    color: #fff;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.contact-left p{
    font-size: 20px;
    color: #fff;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.socials a {
    text-decoration: none;
    display: inline;
    transition: all 0.3s ease;
    color: green
    ;
}

.margin-bottom {
    margin-bottom: 50px;
}

.socials a:hover {
    color: #00FF00;
    transform: translateY(-5px);

}

form input, form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 0;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    background: lightgray;

}

.font_size{
    font-size: 20px;
}

.margin_right{
    margin-right: 15px;
}


header h2:hover{
    color: #00FF00;
    transform: translateY(-5px);
}

.btn{
    background: #00FF00;
    color: #fff;
    padding: 9px 30px;
    margin:  auto;
    border-radius: 5px;
    font-size: 20px;
    border: 1 px solid green;
    transition: all 0.3s ease;
    width: fit-content;
    text-decoration: none;
}

.btn:hover{
    background: transparent;
    color: #00FF00;
    border: 1px solid #00FF00;
}

.msg{
    color: #00FF00;
    display: block;
    margin-top: 10px;
}